body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100px;
    margin-right: 20px;
}

header h1 {
    margin: 0;
    text-align: left;
}

.top-right-links {
    margin-left: auto;
}

.top-right-links a {
    display: inline-block;
    margin-bottom: 10px;
}

nav {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
}

/* Adjusted CSS to move "HOME" link to the left */
nav a[href="#earn-your-degree"] {
    margin-right: auto;
    margin-left: 20px;
}

button.full-width {
    width: 100%;
    display: block;
}

.section-button {
    width: 50;
}

section {
    padding: 50px 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 600px; /* Optional: Set a max-width for the sections */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#earn-your-degree {
    background-image: url('grad1.jpg'); /* Replace 'your-image-url.jpg' with the URL of your image */
    background-size: cover;
    background-position: center;
    color: transparent; /* Hide the text */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to pointer on hover */
}

#earn-your-degree h2, #earn-your-degree p {
    color: #fff; /* Set text color to white */

}

#explore-programs {
    background-image: url('explore.jpeg'); /* Replace 'your-image-url.jpg' with the URL of your image */
    background-size: cover;
    background-position: center;
    color: transparent; /* Hide the text */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to pointer on hover */
}

#explore-programs h2, #explore-programs p {
    color: #fff; /* Set text color to white */

}
#decide-on-your-future {
    background-image: url('12_finland.jpg'); /* Replace 'your-image-url.jpg' with the URL of your image */
    background-size: cover;
    background-position: center;
    color: transparent; /* Hide the text */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to pointer on hover */
}

#decide-on-your-future h2, #decide-on-your-future p {
    color: #fff; /* Set text color to white */

}


